body {
  background-image: url("@shared/assets/background.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
}