body {
  background-image: url("@shared/assets/background.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 98vw;
  min-height: calc(100vh - 3vh);
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgba(219, 213, 259, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.resume {
  display: grid;
  grid-template-columns: 1fr 40vw;
  grid-template-rows: 100px auto;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 376px) {
  .resume {
    grid-template-columns: 1fr;
  }
}

.loading {
  grid-column: 1 / -1;
  color: darkgreen;
  font-weight: bold;
  position: relative;
  top: 15px;
  text-align: center;
}

.error {
  grid-column: 1 / -1;
  color: brown;
  font-weight: bold;
  position: relative;
  top: 15px;
  text-align: center;
  font-size: clamp(0.5rem, 2vw, 0.7vw);
}

.item-main-header h3{
  color: #660066;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.7rem, 3vw, 0.9vw);
  text-align: center;
  margin-bottom: 50px;
}

.required-field {
  color: brown;
  font-weight: bold;
}