.component-button {
    border: 1px solid navy;
    margin: 1px;
    padding: 5px;
}

.preview-button {
    background: linear-gradient(90deg, #9966FF, #f48fb1);
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.preview-button:hover {
    background: linear-gradient(90deg, #a569bd, #f8bbd0);
    cursor: pointer;
}

.resume__back-button {
    background: linear-gradient(to right, #738af8, #a1a8f9);
    border: 2px solid #798bf5;
    border-radius: 7px;
    color: white;
    font-size: clamp(0.7rem, 3vw, 1.0vw);
    height: 50px;
    width: 100px;
}