#item-main {
    width: 70%;
}

.item-main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    justify-content: center;
}

@media (max-width: 961px) {
    #item-main {
        width: 95%;
    }

    .item-main-body > :nth-child(2),
    .item-main-body > :nth-child(4) {
        justify-self: auto;
    }

    .item-main-body .photo span {
        top: 12px !important;
    }
}

.family-field {
    display: flex;
    flex-direction: column;
}

.item-main-body label {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.7rem, 3vw, 0.8vw);
    font-weight: 500;
    color: #666600;
}

.item-main-body input[type='text'] {
    border: 3px solid #0099FF;
    border-radius: 7px;
    box-sizing: border-box;
    color: #44426c;
    font-size: clamp(0.7rem, 3vw, 0.7vw);
    font-weight: 550;
    padding: 10px 15px;
    margin-top: 5px;
    width: 100%;
}

.item-main-body input[type='text']:focus {
    border-color: darkorange;
}

@media (max-width: 1500px) {
    #photo-sp {
        left: 0;
    }
}

@media (max-width: 900px) {
    .item-main-body {
        text-align: center;
    }

    .item-main-body .photo {
        align-items: center;
    }

    .item-main-body .photo span {
        top: 12px !important;
    }

    .item-main-body > :nth-child(1),
    .item-main-body > :nth-child(3) {
        justify-self: normal;
    }

    .item-main-body > :nth-child(2),
    .item-main-body > :nth-child(4) {
        justify-self: normal;
    }

    .item-main-body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 376px) {
    .item-main-header h3 {
        text-align: center;
    }

    .item-main-body #photo-photo {
        width: 100px !important;
        height: 100px !important;
        margin: 0 auto 0 auto;
    }

    #photo-sp {
        display: none;
    }
}

.item-main-body .photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-main-body #photo-photo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231f88a3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-scan-face-icon lucide-scan-face'%3E%3Cpath d='M3 7V5a2 2 0 0 1 2-2h2'/%3E%3Cpath d='M17 3h2a2 2 0 0 1 2 2v2'/%3E%3Cpath d='M21 17v2a2 2 0 0 1-2 2h-2'/%3E%3Cpath d='M7 21H5a2 2 0 0 1-2-2v-2'/%3E%3Cpath d='M8 14s1.5 2 4 2 4-2 4-2'/%3E%3Cpath d='M9 9h.01'/%3E%3Cpath d='M15 9h.01'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 110px;
    cursor: pointer;
    width: 120px;
    height: 130px;
}

.item-main-body .photo span {
    color: #9966FF;
    cursor: pointer;
    font-size: clamp(0.7rem, 3vw, 0.8vw);
    position: relative;
    left: 10px;
}

@media (min-width: 1599px) {
    .item-main-body .photo {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}