.resume__header {
    align-items: center;
    background: linear-gradient(to right, #8896f7, transparent);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #44426c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    height: 50px;
    font-size: clamp(0.7rem, 3vw, 0.8vw);
    font-family: 'Inter', 'Manrope', sans-serif;
    width: 100%;
    position: relative;
    padding-right: 20px;
}

.resume__content {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.resume__content__creator-item {
    background-color: rgba(250, 245, 252, 0.78);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 8vh;
    align-items: center;
    justify-content: space-between;
}

.resume__content__creator-item form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.resume__navigate {
    margin: 0 auto 5px auto;
}

.resume__step-number {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
}

.resume__step-number,
.resume__step-title {
    font-size: clamp(0.7rem, 3vw, 1.0vw);
}

.resume__step-title {
    color: #545091;
    font-weight: 600;
    margin-left: auto;
    margin-right: 20%;
}

@media (max-width: 376px) {
    .resume__header {
        gap: 20px !important;
        flex-direction: row !important;
        flex-wrap: nowrap;
        align-content: space-between;
    }
}

@media (max-width: 1500px) {
    #photo-sp {
        left: 0;
    }
}

@media (max-width: 900px) {
    .item-content .item-main-body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1040px) {
    .resume__step-title {
        margin-right: 5%;
    }
}

.resume__decoration {
    display: flex;
    gap: 10px;
}

@media (max-width: 840px) {
    .resume__header {
        flex-direction: column;
        gap: 20px;
    }
    .resume__step-number {
        position: initial;
        left: auto;
        transform: none;
    }
    .resume__step-title {
        margin-right: 0;
    }
    .resume__decoration {
        display: none;
        gap: 0;
    }
}

.resume__step-number {
    color: #660000;
    font-weight: bold;
}

/*right area*/
.resume__aside {
    grid-column: 2;
    grid-row: 1 / 4; /* занимает обе строки */

    background: #f5f5f5;
    border-radius: 16px;
    padding: 24px;

    min-height: 600px; /* чтобы выглядело массивно */
}