#item-contact {
    width: 70%;
}

.item-contact-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 376px) {
    #item-contact {
        text-align: center;
        width: 100%;
    }

    .item-contact-body {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media  (min-width: 901px) and (max-width: 961px) {
    .item-contact-body {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .item-contact-body input {
        width: 100%;
        min-width: 200px;
    }
}

@media (max-width: 900px) {
    #item-contact {
        text-align: center;
    }

    .item-contact-body {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .item-contact-body input {
        width: 100%;
        min-width: 190px;
    }
}

.item-contact-body label {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.7rem, 3vw, 0.8vw);
    font-weight: 500;
    color: #666600;
}

.item-contact-body input[type='tel'],
.item-contact-body input[type='email'],
.item-contact-body input[type='text'] {
    border: 3px solid #0099FF;
    border-radius: 7px;
    box-sizing: border-box;
    color: #44426c;
    font-weight: 550;
    font-size: clamp(0.7rem, 3vw, 0.7vw);
    padding: 10px 15px;
    width: 93%;
    margin-top: 5px;
    width: 100%;
}

.item-contact-body input::placeholder {
    color: rgba(68, 66, 108, 0.5);
}

.social-type, .social-link {
    min-height: 100px;
    align-content: end;
}

.add-social {
    grid-column: span 2;
    text-align: center;
    min-height: 40px;
    align-content: end;
}

@media (max-width: 900px) {
    .add-social {
        grid-column: span 1;
    }
}